/* @import './base.css'; */
#app,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

li,
ul,
a {
  all: unset;
}

button {
  cursor: pointer;
}

:root {
  --color-background: #161618;
  --color-border: #232325;
  --color-text: #d9d9d9;
  --color-text-secondary: #626164;
  --color-text-tertiary: #373639;

  --color-primary: #fdc200;
  --color-primary-blue: #4f46e5;

  --color-selected: #5e5e5e56;
}

.icon {
  width: 24px;
  height: 24px;
}

[data-theme='light'] {
}
